NEXT_PUBLIC_WHATSAPP_NUMERO=5521989222145
NEXT_PUBLIC_MAPS_URL=https://maps.google.com/?q=Seu+Endereco+Aqui
NEXT_PUBLIC_CHAVE_PIX=seu_cpf_ou_email_ou_telefone
NEXT_PUBLIC_DATA_EVENTO=2026-08-02T13:00:00
